.cart-container {
  width: 370px;
  background: #FFFFFF;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  padding: 13px 0 0;

  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 0 10px 10px 9px;
    height: 45.5px;

    .summary {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.95rem;
    }

    .total {
      font-weight: bold;
      margin-left: auto;
      margin-right: 8px;
    }

    .clear-cart {
      width: 132px;
      height: 43px;
      color: #FFFFFF;
      background: linear-gradient(0deg, #7A3DC6 0%, #B65AE2 100%);
      border: none;
      cursor: pointer;

      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
      }
    }
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;

    .item {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 6px 8px 4.5px 5px;
      border-bottom: 1px solid #eaeaea;
      position: relative;

      img {
        width: 100px;
        height: auto;
        aspect-ratio: 100 / 60;
        object-fit: cover;
      }

      .name {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 0.95rem;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .remove-button {
        align-self: start;
        background: none;
        border: none;
        color: #444;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: height 200ms ease,
        opacity 200ms ease;
        padding-left: 0;
        height: 0;
        margin-top: 0;
      }

      &:hover .remove-button {
        opacity: 1;
        display: block;
        pointer-events: auto;
        height: 17px;
        margin-top: 0.3rem;
      }

      .price {
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: right;

        position: relative;
        width: 75px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .original-price {
          position: absolute;
          top: -14px;
          right: 0;
          font-size: 0.7rem;
          color: #aaa;
          text-decoration: line-through;
        }

        .final-price {
          font-size: 0.95rem;
          font-weight: bold;
          color: #222;
          line-height: 1rem;
          align-self: flex-end;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

